__pycache__
venv/
.env
Dockerfile
.dockerignore
.pytest_cache
Procfile
nginx
gunicorn.service
game-ui/
docs/
data/
*.zip
*.sql
*.md
.git/
.github/
.vscode/
tests/
scripts/
Elinity-WebApp-master/
static/

# Explicitly include requirements.txt
!requirements.txt
